#v1.0
#contact: piotr4@gmail.com
#GPLv3

[Desktop Entry]
Type=Service
ServiceTypes=KonqPopupMenu/Plugin
MimeType=inode/directory
Actions=startk4dirstat
X-KDE-Priority=TopLevel
#InitialPreference=-1

[Desktop Action startk4dirstat]
Name=Start K4DirStat Here
Icon=k4dirstat
Exec=bash -c 'type k4dirstat; if [ $? -eq 0 ]; then k4dirstat "%u"; else kdialog --title "Package missing" --error "Please install k4dirstat from package manager."; fi;';